:root {
    --active-brightness: 0.85;
    --border-radius: 5px;
    --box-shadow: 2px 2px 10px;
    --color-accent: #00ddff3c;
    --color-bg: #2f2f2f;
    --color-bg-secondary: #242929;
    --color-link: #99d0fe;
    --color-secondary: #27676e;
    --color-secondary-accent: #920de90b;
    --color-shadow: #f4f4f4;
    --color-table: #118bee;
    --color-text: #ffffff;
    --color-text-secondary: #999;
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --hover-brightness: 1.2;
    --justify-important: center;
    --justify-normal: left;
    --line-height: 1.5;
    --width-card: 285px;
    --width-card-medium: 460px;
    --width-card-wide: 800px;
    --width-content: 1080px;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0;
    border-bottom: 1px solid #fff36c;

    
}
h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.83em 0;
    padding: 0 0.5em;
    border-left: 0.25em solid #fff36c;
}

h3 {
    font-size: 1.17em;
    font-weight: bold;
    margin: 1em 0;
    padding: 0 0.5em;
    border-left: 1px solid #fff36c;
    
}
h4 {
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    padding: 0 0.5em;
}
h5 {
    font-size: 0.83em;
    font-weight: bold;
    font-style: italic;
    padding: 0 0.5em;
}

a {
    color: var(--color-link);
    border-radius: 5px;
    text-decoration: none;
}
/* hover */
a:hover {
    color: #e1ff00;
    background-color: #645f00b7;
    border-radius: 5px;
    text-decoration: underline;
}

.not-hover:hover{
    background-color: #00000000;
}

body {
    background: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-family);
    line-height: var(--line-height);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    padding: 0;
    width: 100vw;
}

input {
    background: var(--color-bg-secondary);
    border: 2px solid var(--color-secondary);
    border-radius: var(--border-radius);
    color: var(--color-text);
    font-family: var(--font-family);
    line-height: var(--line-height);
    padding: 5px;
    margin: 10px;
    resize: none;
}

input:focus {
    border: 2px solid var(--color-accent);
    background: #dbed73;
    color: #242929;
    /* glow */
    box-shadow: 0 0 20px var(--color-accent);
    
}


.nav-link{
    color: #6bf8ff;
}
/* on hover change color */
.nav-link:hover{
    color: #ffe5b8;
}
/* change color of pill from active tab of bootstrap */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: #454d54;
    font: 1.2em 'Arial', sans-serif;
    font-weight: bold;
    background-color: #dbed73;
}

img{
    max-width: 100%;
}

#la-tabla th{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #4bffed;
    
    background-color: #292929 !important;
    color: #ffffff;
    margin: 0;
    padding: 0;
}
#la-tabla td{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #4bffed;
    background-color: #615950 !important;
    color: #ffffff;
    margin: 0;
    padding: 0;
}


.dosis-ped{
    max-width: 100%;
}
#below_navbar{
    width: 100vw;
}

#content{
    width: 100%;
}
#tabla_farmacos{
    margin:0;
    padding: 0;
    width: 100vw;

}
main{
    position:relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    right: 0vw;
    overflow-x: scroll;
}
#viewport{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    height: 100svh;
    overflow: scroll;
    scrollbar-width: none;
}

#below_navbar{
    display: flex;
    flex-direction: row;
    bottom: 0svh;
    width: 100vw;
    height: 100%;
}

/* .wrapper {
    display: block;
    height to full
    height: calc(50px - 1rem); 
}
 */

#toggle-sidebar {
    display: none;
}
/* #nav-tag-sidebar {
    display: block;
    position: fixed;
} */

    

#sidebar{
    display: none;
}
#sidebar.active {
    width: 250px;
    display: block;
    position: relative;
    height: 100%;
    left: 0px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #0e22389c;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    font: 1.2em 'Arial', sans-serif;
    font-weight: bold;
    color:rgb(255, 255, 255);


    li{
        list-style: none;
        margin: 10px;
        color: #ffffff
    };
    a{
        color: #ffffff;
        text-decoration: none;
        display: block;
        padding: 5px;
        /* border-bottom: 1px solid #ffc2c2;
        border-right: 1px solid #ffc2c2; */

    }
    .sub-h2{
        margin-left: 20px;
        font-size: 0.9em;
        font-weight: normal;
        padding: 5px;
    }
    .sub-h3{
        margin: 0 0 0 50px;
        font-size: 0.7em;
        font-weight: normal;
        font-style: italic;
        border: none;
    }

}

/* #content {
    margin-left: auto;
    padding-left: 20px;
    width: calc(100% - 250px);
} */
/* add support for styling of anchor tags for safari, I dont want them to be underlined and in blue*/
@supports (-webkit-touch-callout: none) {
    a {
        
        color: #ffffff;
        -webkit-text-decoration: none;
        padding: 5px;
        text-decoration: none;

    }
    li{
        -webkit-text-decoration: none;
        text-decoration: none;
    }
    .sub-h1{
        -webkit-text-decoration: none;
        text-decoration: none;
        margin-top: 10px;
    }
    .sub-h2 {
        margin-left: 20px;
        padding: 5px;
        
    }
    .sub-h3 {
        margin: 0 0 0 50px;
    }
}


#dismiss {
    display: none;
}



.overlay {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    /* full screen */
    width: 100vw;
    /* height: 150%; */
    /* transparent black */
    background-color: #00000000;
    position: fixed;
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    /* animate the transition */


}
/* ::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}
*/
a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 5px solid #3b7ddd;
} 

.sidebar-item {
    position: relative;
}

/* #sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
} */

/* #sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
} */

/* #sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
} */

/* #sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
} */

@media screen and (max-width: 801px) {

    #inicio{
        width: 100%;
    }
    #content{
        width: 100%;
        margin: 0;
        position: absolute;
        top: auto;
        left: 0;
    }
    #toggle-sidebar{
        position: fixed;
        display: block;
        bottom: calc(0vh );
        bottom: calc(0svh + 25px);
        right: calc(0vw + 25px);
        right: calc(0svw + 25px);
        z-index: 10000;
        opacity: 0.5;
    }

    #sidebar {
        min-width: 250px;
        max-width: 250px;
        /* height: 100vh; */
        display: none;
        position: fixed !important;
        margin: 0;
        height: 100%;
        top: 0;
        left: 0;
        /* top layer */
        z-index: 9999;
        backdrop-filter: blur(0.7em) !important;
        background-color: #0e223868;
        transition: all .25s ease-in-out;

        

    }
    #sidebar.active {
        display: block;
    }
    
    .overlay {
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
        /* full screen */
        width: 100%;
        height: 100%; 
        /* transparent black */
        background-color: #00000000;
        overflow: hidden;
        /* middle layer, i.e. appears below the sidebar */
        z-index: 998;
        /* animate the transition */
    
    }
    /* display .overlay when it has the .active class */
    .overlay.active {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        visibility: visible;
        background-color: #00000089;
    }
    .table{
        width: 100%;
        position: relative;
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #000;
        margin: 0;
        padding: 0;
        overflow-x:scroll;
        scrollbar-width:thin;
        
    
    }

    #dismiss {
        width: 35px;
        height: 35px;
        position: absolute;
        /* top right corner of the sidebar */
        top: 10px;
        right: 10px;
    
    }
    /* scroll smoothly on ios */
    @supports (-webkit-overflow-scrolling: touch) {
        main {
            -webkit-overflow-scrolling: touch;
        }
    }
    .only-desktop {
        display: none !important;
    }
    .shrink-mobile{
        height: 5vh !important;
    }
    .image-container{
        height: 7.5vh;
        width: auto;
        position: relative !important;
        top: 0;
        left: 0;
    }

    
}

table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #000;
    margin: 0;
    padding: 0;
    overflow-x:scroll;
    scrollbar-width:thin;
    

}

/* Webkit for safari compatibility */

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    #sidebar {
        -webkit-backdrop-filter: blur(0.7rem);
        backdrop-filter: blur(0.7rem);
    }
}
/* sintomas y FR */
.sn{
    /* color: #bf00a2af;
    background-color: #b5b5b5; */
    background-color: #3b003390;
    color: #f8c0f0;
    border-radius: .25em;
    padding: 0em 0.25em;
    font-weight: bold;
}
/* diagnósticos diferenciales y tratamiento*/
.dx{
    /* color: #4e829a;
    background-color: #d8d8d8; */
    background-color: #00303896;
    color: #a4f1ff;
    border-radius: .25em;
    padding: 0em 0.25em;
    font-weight: bold;
}
/* tratamiento */
.tto{
    /* color: #446823;
    background-color: #b5b5b5; */
    background-color: #0052238c;
    color: #a4ffcc;
    border-radius: .25em;
    padding: 0em 0.25em;
    font-weight: bold;
}

div.sn{
    background-color: #3b003390;
    color: #f8c0f0;
    border-radius: .25em;
    padding: 0em 0.25em;

    max-width: 900px;
    align-content: center;
    text-align: justify;
    align-self: center;
    text-justify: inter-word;
    margin: 1em auto;
}
div.dx{
    background-color: #00303896;
    color: #a4f1ff;
    border-radius: .25em;
    padding: 0em 0.25em;

    max-width: 900px;
    align-content: center;
    text-align: justify;
    align-self: center;
    text-justify: inter-word;
    margin: 1em auto;
}
div.tto{
    background-color: #0052238c;
    color: #a4ffcc;
    border-radius: .25em;
    padding: 0em 0.25em;
    max-width: 900px;
    align-content: center;
    align-self: center;
    text-align: justify;
    margin: 1em auto;
    text-justify: inter-word;
}

.heatmap-0 { background-color: #440154; color: white; }
.heatmap-1 { background-color: #3b528b; color: white; }
.heatmap-2 { background-color: #21908c; color: black; }
.heatmap-3 { background-color: #5ec962; color: black; }
.heatmap-4 { background-color: #fde725; color: black; }
main p {
    margin: 1em auto;
    padding: auto;
    max-width: 800px;
    align-content: center;
    text-align: justify;
    text-justify: inter-word;


}
main h1,h2,h3,h4,h5,h6 {
    margin: 2em auto 1em auto;
    padding: auto;
    max-width: 1000px;
    align-content: center;
    text-align: justify;
    text-justify: inter-word;


}

main ul, ol {
    margin: auto;
    padding: auto;
    max-width: 800px;
    align-content: center;
}



@media screen and (min-width: 801px) {
    .image-container {
        position: fixed;
        width: 100%;
        height: 250px;
        overflow: hidden; 
        z-index: 10000;
 
        /* move */
        animation: moveImage 3s linear forwards;

    }
    
    #san-martin {
        position: absolute;
        height: 100%;
    }
    
    @keyframes moveImage {
        0% {
            top: 10%; /* Posición inicial */
            left: 10%;
            height: 100%;
            width: 100%;
        }
        20% {
            top: 10%; /* Nueva posición al final de la animación */
            left: 10%;
            height: 100%;
            width: 100%;
        }

        100% {
            top: 10%; /* Nueva posición al final de la animación */
            left: 90%;
            height: 10%;
            width: 10%;
            
        }
    }
    
    
}