img{
    max-width: 100%;
}
#table{
     width: auto;
}
.dosis-ped{
    max-width: 100%;
}


.wrapper {
    display: block;
    /* height to full */
    height: calc(50px - 1rem);
}


#toggle-sidebar {
    display: none;
}
#sidebar {

        width: 250px;
        height: 100vh;  
        z-index: 1000;
        transition: all .25s ease-in-out;
        background-color: #0e2238;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        scrollbar-width: none;
        font: 1.2em 'Arial', sans-serif;
        font-weight: bold;
        color:rgb(255, 255, 255);


    li{
        list-style: none;
        margin: 10px;
        color: #ffffff
    };
    a{
        color: #ffffff;
        text-decoration: none;
        display: block;
        padding: 5px;
        /* border-bottom: 1px solid #ffc2c2;
        border-right: 1px solid #ffc2c2; */

    }
    .sub-h2{
        margin-left: 20px;
        font-size: 0.9em;
        font-weight: normal;
        padding: 5px;
    }
    .sub-h3{
        margin: 0 0 0 50px;
        font-size: 0.7em;
        font-weight: normal;
        font-style: italic;
        border: none;
    }

}
#content {
    margin-left: auto;
    padding-left: 20px;
    width: calc(100% - 250px);
}
/* add support for styling of anchor tags for safari, I dont want them to be underlined and in blue*/
@supports (-webkit-touch-callout: none) {
    a {
        
        color: #ffffff;
        -webkit-text-decoration: none;
        padding: 5px;
        text-decoration: none;

    }
    li{
        -webkit-text-decoration: none;
        text-decoration: none;
    }
    .sub-h1{
        -webkit-text-decoration: none;
        text-decoration: none;
        margin-top: 10px;
    }
    .sub-h2 {
        margin-left: 20px;
        padding: 5px;
        
    }
    .sub-h3 {
        margin: 0 0 0 50px;
    }
}


#dismiss {
    display: none;
}



.overlay {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    /* full screen */
    width: 100vw;
    height: 150%;
    /* transparent black */
    background-color: #00000000;
    position: fixed;
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    /* animate the transition */


}
/* ::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}
*/
a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 5px solid #3b7ddd;
} 

.sidebar-item {
    position: relative;
}

/* #sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
} */

/* #sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
} */

/* #sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
} */

/* #sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
} */

@media screen and (max-width: 768px) {

    #inicio{
        width: 100%;
    }
    #content{
        width: 100%;
        margin: 0;
        position: absolute;
        top: auto;
        left: 0;
    }
    #toggle-sidebar{
        position: absolute;
        display:block;
        bottom: 10%;
        right: 10%;
        opacity: 0.5;
    }

    #sidebar {
        min-width: 250px;
        max-width: 250px;
        height: 100vh;
        margin: 0;
        
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        /* top layer */
        z-index: 9999;
        backdrop-filter: blur(0.7em);
        background-color: #0e223868;
        transition: all .25s ease-in-out;

        

    }
    #sidebar.active {
        display: block;
    }
    
    .overlay {
        display: none;
        position: relative;
        top: -50px;
        left: 0px;
        /* full screen */
        width: 100vw;
        height: calc(100vh + 100px);
        /* transparent black */
        background-color: #00000000;
        overflow: hidden;
        /* middle layer, i.e. appears below the sidebar */
        z-index: 998;
        /* animate the transition */
    
    }
    /* display .overlay when it has the .active class */
    .overlay.active {
        display: block;
        visibility: visible;
        background-color: #00000089;
    }
    
    #dismiss {
        width: 35px;
        height: 35px;
        position: absolute;
        /* top right corner of the sidebar */
        top: 10px;
        right: 10px;
    
    }
    /* scroll smoothly on ios */
    @supports (-webkit-overflow-scrolling: touch) {
        main {
            -webkit-overflow-scrolling: touch;
        }
    }

    
}
/* Webkit for safari compatibility */

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    #sidebar {
        -webkit-backdrop-filter: blur(0.7rem);
        backdrop-filter: blur(0.7rem);
    }
}
